<!DOCTYPE html>
<html>
  <head>
     <title>{{ page.title }} | Asian Christian Fellowship</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Kreon:regular,bold|Lato:regular,bold&amp;v2">
    <link rel="stylesheet" href="/style.css">
    <meta http-equiv="x-dns-prefetch-control" content="off"/>
  </head>
  <body>
    <header>
      <h1 style="margin-bottom: 5px"><a href="/">Asian Christian Fellowship</a></h1>
      <nav>
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="/theme.html">Theme</a></li>
          <li><a href="http://blog.acfpcc.org">Announcements</a></li>
          <li><a href="/events.html">Events</a></li>
          <li><a href="/graddinner.html">Grad Dinner</a></li>
          <li><a href="/gettinginvolved.html">Getting Involved</a></li>
          <li><a href="/links.html">Links</a></li>
        </ul>
      </nav>
    </header>
    <div id="content">
      {{ content }}
    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19583432-8']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
