<!DOCTYPE html>
<html>
  <head>
    <title>Asian Christian Fellowship</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Kreon:regular,bold|Lato:regular,bold&amp;v2">
    <link rel="stylesheet" href="/style.css">
  <meta http-equiv="x-dns-prefetch-control" content="off"/></head>
  <body>
    <header>
      <h1><a href="/">Asian Christian Fellowship</a></h1>
      <nav>
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="http://blog.acfpcc.org">Announcements</a></li>
          <li><a href="/events.html">Events</a></li>
          <li><a href="/links.html">Links</a></li>
        </ul>
      </nav>
    </header>
    <div id="content">
      {{ content }}
    </div>
  </body>
</html>